{
  "Host":         "0.0.0.0",
  "Port":         ${AUTH_PORT},
  "SQLHost":      "${MYSQL_HOST}",
  "SQLUser":      "${MYSQL_USER}",
  "SQLPassword":  "${MYSQL_PASSWORD}",
  "SQLDBName":    "${MYSQL_AUTH_DB}",
  "IPCHost":      "0.0.0.0",
  "IPCPort":      ${IPC_PORT},
  "APIHost":      "0.0.0.0",
  "APIPort":      ${AUTH_API_PORT}
}
