{
  "ServerId":             ${WORLD_ID},
  "ServerType":           "SERVER_TYPE_CLASSICAL",
  "Host":                 "0.0.0.0",
  "Port":                 ${WORLD_PORT},
  "SQLHost":              "${MYSQL_HOST}",
  "SQLUser":              "${MYSQL_USER}",
  "SQLPassword":          "${MYSQL_PASSWORD}",
  "SQLDBName":            "${MYSQL_WORLD_DB}",
  "IPCHost":              "${IPC_HOST}",
  "IPCPort":              ${IPC_PORT},
  "APIHost":              "0.0.0.0",
  "APIPort":              ${WORLD_API_PORT},
  "SpawnMapId":           154010883,
  "SpawnCellId":          400,
  "ApLimit":              12,
  "MpLimit":              6,
  "StartLevel":           1,
  "StartAp":              6,
  "StartMp":              3,
  "WelcomeMessage":       "${WELCOME_MESSAGE}",
  "JobRate":              ${JOB_RATE},
  "DropRate":             ${DROP_RATE},
  "XpRate":               ${XP_RATE},
  "LogProtocol":          true,
  "SaveIntervalMinutes":  5,
  "AllowedBreeds": [
    "Feca","Osamodas","Enutrof","Sram","Xelor","Ecaflip","Eniripsa","Iop","Cra",
    "Sadida","Sacrieur","Pandawa","Roublard","Zobal","Steamer","Eliotrope",
    "Huppermage","Ouginak","Forgelance"
  ]
}
